<!--
File: social_small.html
Project: _includes
File Created: Friday, 13th May 2022 5:06:18 pm
Author: C.V (vinegoni@yahoo.com)
-----
Last Modified: Friday, 13th May 2022 5:06:18 pm
Modified By: C.V (vinegoni@yahoo.com)
-----
Copyright 2022 - C.V
-->
{%- if site.email -%}
<a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
{% endif %}
{% if site.semantic_scholar_id %}
<a href="https://www.semanticscholar.org/author/{{ site.semantic_scholar_id }}" title="Semantic Scholar"><i
        class="ai ai-semantic-scholar"></i></a>
{% endif %}
{%- if site.orcid_id -%}
<a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID"><i class="ai ai-orcid"></i></a>
{% endif %}
{%- if site.scholar_userid -%}
<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i
        class="ai ai-google-scholar"></i></a>
{% endif %}
{%- if site.publons_id -%}
<a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons"><i class="ai ai-publons"></i></a>
{% endif %}
{%- if site.researcher_id -%}
<a href="https://www.researcherid.com/rid/{{site.researcher_id}}/" title="ResearcherID"><i
        class="ai ai-researcherid"></i></a>
{% endif %}
{% if site.scopus_authorid %}<a href="https://www.scopus.com/authid/detail.uri?authorId={{ site.scopus_authorid }}"
    target="_blank" title="Scopus"><i class="ai ai-scopus"></i></a>{% endif %}
{%- if site.research_gate_profile -%}
<a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"><i
        class="ai ai-researchgate"></i></a>
{% endif %}
{% if site.pubmed_authorid %}<a
    href="https://pubmed.ncbi.nlm.nih.gov/?term={{ site.pubmed_authorid }}%5BAuthor%5D&sort=" target="_blank"
    title="PubMed"><i class="ai ai-pubmed"></i></a>{% endif %}
{%- if site.github_username -%}
<a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
{% endif %}
{%- if site.linkedin_username -%}
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
{% endif %}
{%- if site.work_url -%}
<a href="{{ site.work_url }}" title="Work"><i class="fas fa-briefcase"></i></a>
{% endif %}